html {
    background-color: lightgrey;
    
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    text-align: center;
}
#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#calculator {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding: 3%;
    width: 30%;
    height: 70%;
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
    border-radius: 7%; 
    border: 4px white groove; 
    box-shadow: 10px 10px 5px black;
}

#display {
    height: 25%;
    border: 3px inset;
    border-color: rgb(32, 32, 32);
    border-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    border-radius: 12px;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 5%;
}

.displayOff {
    background-color: rgba(112,120,100,255)
}

.displayOn {
    background-color: rgba(178,194,181,255);
}

#display > * {
    font-family: 'Orbitron';
}

#prevResult {
    font-size: small;
    margin-right: 5%;
}

#currentNum {
    font-size: large;
    font-weight: bold;
}

#calcButtons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.buttonRow {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonRow > * {
    box-sizing: border-box;
    height: 100%;
    width: 15%;
    background-color: rgba(222,226,232,255);
    border-radius: 7px;
    box-shadow: 1px 1px grey;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonRow > *:hover {
    opacity: 90%;
    border: 2px inset grey;
}
.buttonRow > * > p {
    font-weight: 900;
    font-family: 'Orbitron';
}
#buttonRow1 > .optionBut {
    background-color: blue;
    box-shadow: 1px 1px darkblue;
    border: 1px solid darkblue;
}
#buttonRow1 > .optionBut > p {
    color: antiquewhite;
}