html {
    background-color: lightgrey;
    
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    text-align: center;
}
#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#calculator {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding: 3%;
    width: 30%;
    height: 70%;
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
    border-radius: 7%; 
    border: 4px white groove; 
    box-shadow: 10px 10px 5px black;
}

#display {
    height: 25%;
    background-color: rgba(178,194,181,255);
    border: 3px inset;
    border-color: rgb(32, 32, 32);
    border-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    border-radius: 12px;
    margin-bottom: 5%;
}
#calcButtons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.buttonRow {
    height: 15%;
    background-color: white;
}
